.canto-link {
    text-align: center;
    margin: 0;
}

h3 {
    border-bottom: 1px solid #061a40;
    margin-bottom: 1vh;
}

section {
    padding: 5vw;
}

.canto-link a {
    display: block;
    margin-bottom: -1.5rem;
}