section {
    text-align: left;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 0 auto;
}

.label-input {
    font-weight: bold;
    color: var(--h);
    margin-bottom: -10px;
    display: block;
    text-align: left;
}

input, textarea {
    width: 100%;
    padding: 0.8rem;
    border: 2px solid var(--link);
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s ease;
    background-color: white;
    color: var(--text);
    margin: 0;
}

input:focus, textarea:focus {
    border-color: var(--hover);
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 109, 170, 0.2);
}

textarea {
    min-height: 150px;
    resize: vertical;
}

button[type="submit"] {
    background-color: var(--link);
    color: white;
    border: none;
    padding: 1rem 2rem;
    font-size: 1.1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
    margin: 1rem 0;
}

button[type="submit"]:hover {
    background-color: var(--hover);
}

.info {
    margin: -10px 0;
    padding: 0;
    font-size: smaller;
}

/* Stile per i placeholder */
::placeholder {
    color: #a3a3a3;
    opacity: 1;
}

/* Stile per i campi facoltativi
input:optional, 
textarea:optional {
    border-color: var(--background-hftext);
}
*/


/* Responsive adjustments */
@media (max-width: 750px) {
    form {
        padding: 1rem;
    }
    
    button[type="submit"] {
        width: 100%;
    }
}