.home-page main {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 2rem;
}

section {
    margin-bottom: 2rem;
}

aside, .centre-column {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.div-canti {
    background-color: white;
    border-radius: 5px;
    padding: 1rem;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.canto-link {
    transition: all 0.2s ease;
    line-height: 1.6rem;
}

.canto-link:not(:last-child) {
    margin-bottom: 1rem;
}

.canto-link a {
    color: #061a40;
}

.warning {
    background-color: #fff3cd;
    border: 1px solid #ffeaa7;
    border-radius: 5px;
    padding: 1rem;
    margin-bottom: 1rem;
}

.calendar-section iframe {
    width: 100%;
    height: 400px;
    border: none;
    border-radius: 5px;
}

#tempi-forti {
    display: none;
}

#sezione-nuovi-canti {
    display: none;
}

@media (max-width: 968px) {
    .home-page main {
        grid-template-columns: 1fr;
    }
    
    aside {
        padding-top: 1rem;
    }

    .home-page main, aside, .centre-column {
        gap: 1rem;
    }

    section {
        margin-bottom: 1rem;
    }
}

@media (max-width: 426px) {
    .calendar-section iframe {
        height: 260px;
    }
}