:root {
    --background-hftext: #b9d6f2;
    --header-footer-bg: #061a40;
    --text: #003559;
    --h: #0353a4;
    --link: #006daa;
    --hover: #006daa;
    --section-bg: #b9d6f2;
}

* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    text-overflow: ellipsis;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--background-hftext);
    color: var(--text);
    margin: 0;
    padding: 0;
    text-align: left;
    font-size: 2.4vh;
}

header, footer {
    background-color: var(--header-footer-bg);
    color: var(--background-hftext);
    padding: 3vh 2vw 0vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    text-align: center;
}

h1 {
    text-align: center;
    font-size: 5vh;
    margin: 10px;
    color: var(--header-footer-text);
}

h2, h3 {
    color: var(--h);
    text-align: center;
}

h2 {
    font-size: 3vh;
}

nav {
    margin-top: 10px;
    width: 100%;
    position: relative;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 5vw;
    flex-wrap: wrap;
}

nav ul li a {
    font-weight: bold;
    border-radius: 5px;
    color: var(--background-hftext);
}

nav ul li a:hover {
    color: white;
}

a {
    color: var(--accent);
    text-decoration: none;
    font-weight: bold;
    transition: color 0.4s ease;
}

a:hover {
    color: var(--hover);
    text-decoration: none;
}

main {
    flex-grow: 1;
    display: flex;
    padding: 20px;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    align-items: center;
}

.container {
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    width: 100%;
    background-color: white;
    padding: 1vh 1vw;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    color: var(--text);
    text-align: center;
}

footer {
    margin-top: 20px;
    background-color: var(--header-footer-bg);
    color: var(--background-hftext);
    padding: 10px;
    text-align: center;
    width: 100%;
}

@media (max-width: 600px) {
    nav ul li {
        padding: 8px;
        font-size: 0.5em;
    }
}

@media (max-width: 400px) {
    .header-top {
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    h1 {
        font-size: 3vh;
        margin-bottom: 0;
    }
}